<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= @title %></title>

</head>

<body>
  <h3><%= @title %></h3>
  <ul>
    <% @users_content.each do |key_name, _| %>
      <li>
        <a href="/<%= key_name %>"><%= key_name %></a>
      </li>
    <% end %>
  </ul>
</body>
</html>
